<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>destinations</title>
</head>
<body background="/static/bg.jpg" style="background-repeat: no-repeat;background-size: cover;background-attachment:fixed;margin: o;"></body>>
    
<form name="form" action="POST">
<h1 align="center"> <u> DESTINATIONS</u></h1>
<table align="center">
    <tr>
        <td>
            <ol>
<P>The sprawling wilderness, stunning coastline, and stark desert beauty of South Australia have captured the imagination of artists and adventurers for centuries. The state capital, Adelaide, sits on the brink of all these natural wonders, boasting a lively agenda of festivals and things to do. But this sparsely populated state has a trove of other tourist attractions </P>
                
                <li> <U> <strong> SOUTH AUSTRALIA  </strong></U> </li><br>
                
                    <ol type="a">
                        <li><b> KANGAROO ISLAND </b>
                        </li><br><br>
                        <IMG SRC="/static/KA.jpg"><BR>
                        Kangaroo Island off the Fleurieu Peninsula is the third largest island in Australia and one of the country's top natural jewels. This beautiful island is a must-do on your South Australia itinerary.

                        Sparkling cerulean seas, pristine beaches, rugged coastal scenery, fascinating rock formations, caves, and close-up encounters with charismatic wildlife are the prime attractions. Besides its namesake marsupial, you can see koalas, seals, penguins, sea lions, and a diversity of birds in their natural habitat. Scuba divers frequently spot sea dragons in the crystal-clear temperate waters, and many wrecks lie sunken offshore.
                        
                        In Flinders Chase National Park, the wind-sculpted boulders of the Remarkable Rocks and the eroded curve of Admiral's Arch are striking geographical features. The island is also known for its bounty of fresh produce including fresh seafood, free-range eggs, and Ligurian honey. To get here, you can fly direct to the island from Adelaide, or hop aboard a ferry from Cape Jervis on the Fleurieu Peninsula.
<BR><BR>
                        <li> <B>ADELAIDE  </B></li><BR><BR>
                         <IMG SRC="/static/AD.jpg" WIDTH="1000PX" HEIGHT="667PX"><BR><BR>


                        Adelaide, the capital of South Australia, is Australia's fifth-largest city and one of its most charming. Parks and gardens punctuate the city, and venerable 19th-century buildings stand proud amid the burgeoning high-rises in the city center.

                   opular Adelaide attractions include the cultural precinct of North Terrace with its museums, galleries, and carefully preserved historic gems; the Adelaide Central Market, a shopping institution; and the impressive line-up of performances and events at the Adelaide Festival Centre.

                    If you have time during your visit, try to catch a cricket match or AFL game at Adelaide oval, which has played host to a wide range of Aussie sports since the late 1800s.

                    For a change of scenery, hop aboard the tram to Glenelg from Victoria Square to swim, sail, and soak up the seaside ambience, or venture into the beautiful bush-covered hills of the Mount Lofty Ranges (Adelaide Hills
                        <BR><BR>
                    <li><B> BAROSSA VALLY</B><BR><BR>
                        </li>
                        <IMG SRC="/static/BR.jpg" WIDTH="1000PX" HEIGHT="667PX"><BR><BR>

                        The Barossa Valley, about an hour drive from Adelaide, is a favorite day trip from the capital. Blessed with fertile soils, this verdant valley is one of Australia's oldest grape-growing regions and a haven for foodies, who are lured by the high-quality fresh produce and artisan foods. German and English immigrants originally settled the valley, and their history and culture is still palpable today in the historic buildings, heritage trails, museums, and European-style cuisine.

                        In addition to all the historic attractions, the region offers plenty of other diversions. You can shop at the popular farmers markets, attend cookery schools, feast at the fabulous restaurants, relax at the day spas, and browse the many gift shops and art galleries.

                        </ol><BR><BR><BR><BR>
                <li><strong> <U>  WESTERN AUSTRALIA </U> </strong></li><BR><BR>
                Western Australia is a land of superlatives and extremes. Occupying a third of the continent's total area, it's the largest of the Australian states with less than 10 percent of the country's total population. The state's capital, Perth, exudes a vibrant, sophisticated feel, with glitzy shops, galleries, and gourmet restaurants, but the beating hot heart of the vast desert and a wild and rugged coastline beckon just beyond. Endless stretches of white-sand beach, rugged red gorges, sweeping fields of wildflowers, and bizarre rock formations are just some of the stunning natural attractions, and the state is also famous for its distinctive flora and fauna.
                <BR><BR>
                <ol type="a" start="4">
                       <li>  PERTH</li><BR><BR>
                        <IMG SRC="/static/PE.jpg" WIDTH="1000PX" HEIGHT="667PX"><BR><BR>
                        <BR><BR>
                       Perhaps no Australian capital has changed as much in recent decades as Perth. Thanks to a mining boom, it's now the fourth largest city in Australia, flaunting its wealth with shiny skyscrapers, hip boutiques, gourmet restaurants, and buzzing entertainment venues. Bounded on the west by the Indian Ocean and set on the banks of the winding Swan River, Perth is a hot spot for water sports. Surfing, swimming, and sailing are part of everyday life, and enjoying the city's beautiful beaches is among the top fun things to do in Perth.

                       Other Perth attractions include Kings Park and Botanic Garden, where you can admire more than 1,200 species of native plants and a spectacular display of wildflowers in the spring. The poignant Kings' Park War Memorial here is worth a stop as well. Among the city's most popular museums are the Art Gallery of Western Australia and Scitech, and gamers can play their favorite 80s video games at The Nostalgia Box museum, one of the more unusual things to do in Perth. The city also makes a great base for rewarding day trip adventures, including picturesque Rottnest Island and the port city of Fremantle.
                       <BR><BR>
                       
                       <li><B> THE MARGRET RIVER</B> </li><BR><BR>
                        <IMG SRC="/static/MAR.jpg" WIDTH="1000PX" HEIGHT="667PX">

                        <BR><BR>
                       Home to galleries and gourmet restaurants, Margaret River is a much-loved holiday resort and a popular spot for surfers. This pretty town lies in the state's south west, about a 3.5-hour drive south of Perth, making it a favorite weekend escape from the city. Surfers flock here for the consistent big-wave breaks, as well as more than 40 surf spots sprinkled along the coast.

                       Tourists love the region's beautiful scenery, with tall timber forests and sparkling white-sand beaches. The area is also noted for its impressive limestone caves, such as Lake Cave, Jewel Cave, and Mammoth Cave, with glittering stalactites and prehistoric fossils. Other popular things to do include rock climbing, mountain biking, fishing, kayaking, and whale watching tours
<BR><BR>
                       <li><B> BROOME</B></li>   <BR><BR>
                        <IMG SRC="/static/B.jpg" WIDTH="1000PX" HEIGHT="667PX">
                        <BR><BR>
                       The thriving tourist town of Broome is one of the most popular Western Australian destinations and a gateway to the magnificent Kimberley region. One of the town's main attractions is Cable Beach. Backed by striking red cliffs, this impressive shoreline stretches for 22 kilometers, with sweeping white sands and turquoise waters. Sunset camel rides are a popular way to soak up the scenery.

Broome is also Australia's pearling capital, and you can learn about this fascinating history at The Broome Historical Museum. Other things to see and do include the Malcolm Douglas Wilderness Wildlife Park; watching a movie at Sun Pictures, a quirky outdoor movie theater; and touring local pearl farms. Broome is also famous for a natural phenomenon called the Staircase to the Moon. When the full moon rises over the bay, locals and tourists gather to admire the rays of light gleaming on the water, creating an optical illusion of steps leading to the moon.
                                
                    </ol>
        </td>
        </tr>
        

</table>
</form> 
</body>
</html>