<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration form</title>
</head>
<body  background="/static/bg.jpg" style="background-repeat: no-repeat;background-size: cover;background-attachment:fixed;margin: o;">
    
    <form name="form" action="POST">
        <h1 align="center"> <U>BOOK A TRIP </U><br>Amazing stuff wating for you and your friends/family !!!<br>
            you are just one step away from a new adventure </h1>
        
            <table align="CENTER">
                
            <tr>
            <td ><label>  CHECK-IN</label></td>
            <td>  <input type="date"/> </td>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <td ><label>  CHECK-OUT</label></td>
            <td>  <input type="date" />  </td>
            </tr><BR><BR><BR>
            
            <tr>
                <td ><label> YOUR NAME</label></td>
                <td> <input type="text" name="YOUR FULL NAME IN BLOCK LETTERS">  </td>
                </tr><BR>
                <tr>
                    <td ><label> E-MAIL ADDRESS</label></td>
                    <td> <input type="TEXT"> </td>
                </tr>
                    <TR>
                    <td ><label>  PHONE NUMBER</label></td>
                    <td> <input type="number">  </td> 
                </tr>      

            <tr>
                <td> <label> BOOKING FOR</label></td>
                <td> <input type="radio" checked="checked" value="LEASURE">male<input type="radio"> BUSINESS</td>
            </tr>
           <tr>
               <td></td>
            <td> <label> ADULTS</label></td>
            <td> <label> KIDS</label></td>
            </tr>
             <tr> 
                 <td></td>
                <td><input type="number">  </td> 
            
                <td><input type="number"></td>
                 </tr>
                <tr>
                    <td><label> NO OF ROOMS</label></td>
                    <td> <input type="number">  </td> 
                </tr>
                <tr>
                    <TD></TD>
                 <td align="CENTER"><input type="submit" value="COMPLEATE YOUR PROFILE"></td>
                </tr>
        </table>
    </form>
</body>
</html>