
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body background="/static/bg.jpg" style="background-repeat: no-repeat;background-size: cover;background-attachment:fixed;margin: o;">
  <div>
      <table width="100%" cellspacing="0px">
       <tr> 
          
         <td  align="center"style="color:black;font-size:30PX;"> <STRONG> <I>WELCOME   TO  AUSTRALIA </I> </STRONG>   </td>
         
       <td align="right"><br><br>
        <a href="{% url 'app:new' %}" style="text-decoration: none;color:black; font-size:25px;"> HOME 
        </a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'app:about' %}" style="text-decoration: none;color:black;font-size:25px;"> ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'app:destiny' %}" style="text-decoration: none;color:black;font-size:25px;"> DESTINATION</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'app:regi' %}" style="text-decoration: none;color:black;font-size:25px;"> REGISTER NOW</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
      </td></tr>
      </tabLE> 
  <DIV>
      <IMG SRC="/static/home.jpg" WIDTH="100%" HEIGHT="600%">
          <h1 align="center" ><u>SPECIAL OFFERS</u></h1>
      </DIV>
      

<tablewidth="100%" cell spacing="50%" align="CENTER" >
<tr>
   
<td align="center"> <h1> <b>Sydney Opera House</b></h1><br>
   <br><img src="/static/sydny.jpg" WIDTH="375PX"  HEIGHT="283PX" ALIGN="CENTER">
   <br>The Sydney Opera House is a multi-venue performing arts centre in Sydney. Located on the banks of the Sydney Harbour, it is often regarded as one of the world's most famous and distinctive buildings and a masterpiece of 20th century architecture.

   Designed by Danish architect Jørn Utzon, but completed by an Australian architectural team headed by Peter Hall, the building was formally opened on 20 October 1973 after a gestation beginning with Utzon's 1957 selection as winner of an international design competition. The Government of New South Wales, led by the premier, Joseph Cahill, authorised work to begin in 1958 with Utzon directing construction. The government's decision to build Utzon's design is often overshadowed by circumstances that followed, including cost and scheduling overruns as well as the architect's ultimate resignation.[6]
   
   The building and its surrounds occupy the whole of Bennelong Point on Sydney Harbour, between Sydney Cove and Farm Cove, adjacent to the Sydney central business district and the Royal Botanic Gardens, and close by the Sydney Harbour Bridge.
   
   The building comprises multiple performance venues, which together host well over 1,500 performances annually, attended by more than 1.2 million people. Performances are presented by numerous performing artists, including three resident companies: Opera Australia, the Sydney Theatre Company and the Sydney Symphony Orchestra. As one of the most popular visitor attractions in Australia, the site is visited by more than eight million people annually, and approximately 350,000 visitors take a guided tour of the building each year.[8] The building is managed by the Sydney Opera House Trust, an agency of the New South Wales State Government.
   
   On 28 June 2007, the Sydney Opera House became a UNESCO World Heritage Site, having been listed on the  Register of the National Estate since 1980, the National Trust of Australia register since 1983, the City of Sydney Heritage Inventory since 2000, the New South Wales State Heritage Register since 2003, and the Australian National Heritage List since 2005. Furthermore, the Opera House was a finalist in the New7Wonders of the World campaign list <br></td>
    <td align="center"> <h1> <b><u>Great Barrier Reef Marine Park</u> </b></h1><br>
       <br><img src="/static/grt.jpg" WIDTH="375PX"  HEIGHT="283PX" ><br>

       The Great Barrier Reef Marine Park protects a large part of Australia's Great Barrier Reef from damaging activities. It is a vast multiple-use Marine Park which supports a wide range of uses, including commercial marine tourism, fishing, ports and shipping, recreation, scientific research and Indigenous traditional use. Fishing and the removal of artefacts or wildlife (fish, coral, seashells, etc.) is strictly regulated, and commercial shipping traffic must stick to certain specific defined shipping routes that avoid the most sensitive areas of the park. The Great Barrier Reef is the largest and best known coral reef ecosystem in the world. Its reefs, almost 3000 in total, represent about 10 per cent of all the coral reef areas in the world. It supports an amazing variety of biodiversity, providing a home to thousands of coral and other invertebrate species, bony fish, sharks, rays, marine mammals, marine turtles, sea snakes, as well as algae and other marine plants
       <br><br>
        
   </td>  

</tr>
<tr>
   <td align="center"> <h1> <b> Uluru-Kata Tjuta National Park</b></h1><br>
       <br><img src="/static/ul.jpg" WIDTH="375PX"  HEIGHT="283PX">Uluṟu-Kata Tjuṯa National Park is a protected area in the Northern Territory of Australia. The park is home to both Uluru and Kata Tjuta. It is located 1,943 kilometres  south of Darwin by road and 440 kilometres  south-west of Alice Springs along the Stuart and Lasseter Highways. The park covers 1,326 square kilometres and includes the features it is named after: Uluru and, 40 kilometres  to its west, Kata Tjuta. The location is listed as a UNESCO World Heritage Site for natural and cultural landscape. <br><br>
        </td>
        <td align="center"> <h1> <b> Blue Mountains National Park</b></h1><br>
           <br><img src="/static/bl.jpg" WIDTH="375PX"  HEIGHT="283PX"> The Blue Mountains National Park is a protected national park that is located in the Blue Mountains region of New South Wales, in eastern Australia. The 267,954-hectare (662,130-acre) national park is situated approximately 80 kilometres (50 mi) west of Sydney, and the park boundary is quite irregular as it is broken up by roads, urban areas and inholdings.[1] Despite the name mountains, the area is an uplifted plateau, dissected by a number of larger rivers. The highest point in the park is Mount Werong at 1,215 metres (3,986 ft) above sea level; while the low point is on the Nepean River at 20 metres (66 ft) above sea level as it leaves the park.[3]

           The national park is one of the eight protected areas that, in 2000, was inscribed to form part of the UNESCO World Heritage–listed Greater Blue Mountains Area.[4] The Greater Blue Mountains was one of 15 World Heritage places included in the National Heritage List on 21 May 2007.[5] The Blue Mountains National Park is the most central of the eight protected areas within the World Heritage Site and it forms part of the Great Dividing Range. The park is also listed on the Australian Heritage Register and the overall complex of Blue Mountains regional walking tracks is listed on the State Heritage Register <br><br>
            
       

</table>

      </div>
      
      </div> 
</body>

</html>